@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-soft: var(--background-soft);
  --color-button: var(--button-color);
  --color-button-highlight: var(--button-highlight);
  --color-button-text: var(--button-text);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-tertiary: var(--bg-tertiary);
  --color-bg-translucent: var(--bg-translucent);
  --color-bg-task-view: var(--bg-task-view);
  --color-bg-error: var(--bg-error);
  --color-text-error: var(--text-error);
  --color-border-color: var(--border-color);
  --color-login-background: var(--login-background);
  --color-signup-background: var(--signup-background);
  --color-overdue-task: var(--overdue-task);
  --color-due-soon-task: var(--due-soon-task);
}

:root {
  --background: #bcd4d299;
  --foreground: #171717;
  --background-soft: #5cbcb499;
  --button-color: #006056;
  --button-highlight: #86bdb8;
  --button-text: #86bdb8;
  --text-primary: #171717;
  --text-secondary: #a1a1a1;
  --text-tertiary: #d4d4d8;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;
  --bg-tertiary: #e4e4e7;
  --bg-translucent: rgba(255, 255, 255, 0.9);
  --bg-task-view: #006056;
  --bg-error: #fca5a5;
  --text-error: #dc2626;
  --border-color: #1e1e1e;
  --login-background: #0bb4a3;
  --signup-background: #05897c;
  --overdue-task: rgba(220, 38, 38, 0.6);
  --due-soon-task: rgba(245, 158, 11, 0.6);
}

html.dark {
  --background: #001c19;
  --foreground: #ededed;
  --background-soft: rgba(0, 96, 86, 0.6);
  --button-color: #006056;
  --button-highlight: #00312c;
  --button-text: #86bdb8;
  --text-primary: #f4f1de;
  --text-secondary: #a1a1a1;
  --text-tertiary: #09090b;
  --bg-primary: #09090b;
  --bg-secondary: #18181b;
  --bg-tertiary: #27272a;
  --bg-translucent: rgba(0, 0, 0, 0.9);
  --bg-task-view: #ededed;
  --bg-error: #7f1d1d;
  --text-error: #fca5a5;
  --border-color: #27272a;
  --login-background: #00312c;
  --signup-background: #05897c;
  --overdue-task: rgba(220, 38, 38, 0.6);
  --due-soon-task: rgba(245, 158, 11, 0.6);
}

body {
  font-size: 1.6rem;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
