@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-soft: rgba(92, 188, 180, 0.6);
  --button-color: #5cbcb4;
  --button-highlight: #5cbcb4;
  --text-primary: #171717;
  --text-secondary: #a1a1a1;
  --text-tertiary: #d4d4d8;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;
  --bg-tertiary: #e4e4e7;
  --bg-error: #fca5a5;
  --text-error: #dc2626;
  --border-color: #e4e4e7;
}

html.dark {
  --background: #00312c;
  --foreground: #ededed;
  --background-soft: rgba(0, 96, 86, 0.6);
  --button-color: #006056;
  --button-highlight: #5cbcb4;
  --text-primary: #f4f1de;
  --text-secondary: #a1a1a1;
  --text-tertiary: #52525b;
  --bg-primary: #09090b;
  --bg-secondary: #18181b;
  --bg-tertiary: #27272a;
  --bg-error: #7f1d1d;
  --text-error: #fca5a5;
  --border-color: #27272a;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #00312c;
    --foreground: #ededed;
    --background-soft: rgba(0, 96, 86, 0.6);
    --button-color: #006056;
    --button-highlight: #5cbcb4;
    --text-primary: #f4f1de;
    --text-secondary: #a1a1a1;
    --text-tertiary: #52525b;
    --bg-primary: #09090b;
    --bg-secondary: #18181b;
    --bg-tertiary: #27272a;
    --bg-error: #7f1d1d;
    --text-error: #fca5a5;
    --border-color: #27272a;
  }
}

body {
  font-size: 1.6rem;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
